<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAR</title>
</head>
<body>
    <h1>WAR</h1>

    <h3>Player 1:</h3>
    <img src='' id='player1Card'></img>

    <h3>Player 2:</h3>
    <img src='' id='player2Card'></img>

    <button id='dealPlayersCards'>Deal!</button>
</body>
</html>