
body {
    background-color: #c9b4b5;
}

.hidden {
    display: none;
}

#rules {
    font-size: .8rem;
}

footer {
    height: 5rem;
    font-size: .8rem;
}
footer a {
    color: black;
}

.text-custom {
    color: #271d3f;
    text-shadow: darkslategray 0 0 1rem;
}